In [1]:
import pandas as pd
import snscrape.modules.twitter as sntwitter

In [2]:
# scrape tweets from jun 1st - jul 31st, 2022
query = "(#30DaysOfLearning OR #NG30DaysOfLearning) until:2022-07-31 since:2022-06-01"
tweets = []    
limit = 30000
    
for tweet in sntwitter.TwitterHashtagScraper(query).get_items():
    if len(tweets) == limit: 
        break 
    else:        
        tweets.append([tweet.date, tweet.url, tweet.user.username, tweet.sourceLabel, tweet.user.location, tweet.content, tweet.likeCount, tweet.retweetCount,  tweet.quoteCount, tweet.replyCount])


# convert scraped tweets into a dataframe format        
df = pd.DataFrame(tweets, columns=['Date', 'TweetURL','User', 'Source', 'Location', 'Tweet', 'Likes_Count','Retweet_Count', 'Quote_Count', 'Reply_Count'])

In [3]:
df.head()

,Date,TweetURL,User,Source,Location,Tweet,Likes_Count,Retweet_Count,Quote_Count,Reply_Count
0,2022-07-30 23:51:11+00:00,https://twitter.com/_Mdapo/status/155352866383...,_Mdapo,Twitter for Android,,I don't have one so I reached out to @GbemiAde...,0,0,0,1
1,2022-07-30 23:34:15+00:00,https://twitter.com/_Mdapo/status/155352440267...,_Mdapo,Twitter for Android,,"As a result, I took the introduction to Power ...",0,0,0,1
2,2022-07-30 22:32:34+00:00,https://twitter.com/Temivc/status/155350887934...,Temivc,Twitter for Android,"Federal Capital Territory, Nig",#30daysoflearning Learning Didn't save my dat...,1,0,0,0
3,2022-07-30 20:41:18+00:00,https://twitter.com/Olaoluwa__Mercy/status/155...,Olaoluwa__Mercy,Twitter for Android,Ile-Ife,#30daysoflearning\n@TheOyinbooke\nThis week I ...,4,2,0,1
4,2022-07-30 19:13:26+00:00,https://twitter.com/arowoseun69/status/1553458...,arowoseun69,Twitter for Android,,Data modeling and the world of DAX\nI leant wh...,0,0,0,1

In [4]:
df.shape

(1246, 10)

In [5]:
df.columns

Index(['Date', 'TweetURL', 'User', 'Source', 'Location', 'Tweet',
       'Likes_Count', 'Retweet_Count', 'Quote_Count', 'Reply_Count'],
      dtype='object')

In [6]:
df.select_dtypes(include='object').columns

Index(['TweetURL', 'User', 'Source', 'Location', 'Tweet'], dtype='object')

In [7]:
df.describe()

       Likes_Count  Retweet_Count  Quote_Count  Reply_Count
count  1246.000000    1246.000000  1246.000000  1246.000000
mean     14.707063       3.097913     0.151685     1.170947
std      46.606290      11.135459     0.688594     3.126077
min       0.000000       0.000000     0.000000     0.000000
25%       1.000000       0.000000     0.000000     0.000000
50%       2.000000       0.000000     0.000000     0.000000
75%       8.000000       2.000000     0.000000     1.000000
max     716.000000     273.000000    10.000000    51.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1246 entries, 0 to 1245
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           1246 non-null   datetime64[ns, UTC]
 1   TweetURL       1246 non-null   object
 2   User           1246 non-null   object
 3   Source         1246 non-null   object
 4   Location       1246 non-null   object
 5   Tweet          1246 non-null   object
 6   Likes_Count    1246 non-null   int64
 7   Retweet_Count  1246 non-null   int64
 8   Quote_Count    1246 non-null   int64
 9   Reply_Count    1246 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(4), object(5)
memory usage: 97.5+ KB

In [9]:
df.to_csv('clean_twitter_data.csv', index=False)